body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #A01218;
    display: flex;
    justify-content: space-between;
    padding: 19px;
}

#head{
    display: flex;
    gap: 20px;
    margin: -30px;
    margin-right: 10px;
}

.h{
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white
}

#DFlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

#Datotid{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    font-size: 48px;
    justify-content: center;
    gap: 400px;
    text-align: center;
}

.button{
    
    font-size: 36px;
    background-color: #A01218;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 521px;
    margin-right: 521px;
    border-radius: 49px;
    color: white;
}

#øverstebillede{
    margin-top: 100px;
}

#Damefrokost{
    display: flex;
    justify-content: space-evenly;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Overskrift{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
}

.Overskrift2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    color: white;
    background-color: #A01218;
    margin: none;
}

#forvente{
    background-color: #A01218;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
    padding-bottom: 100px;
}

#over{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    color: white;
    background-color: #A01218;
}

#bogt{
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#billet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

#ringridning{
    background-color: #A01218;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
    padding-bottom: 100px;
}

#Sponor{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

#storpic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

#lillepic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}